# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('census_data.csv')

In [3]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [5]:
data['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [6]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [7]:
data['income_bracket'] = data['income_bracket'].apply(label_fix)

In [9]:
# Cool Alternative
# lambda label:int(label==' <=50k')

# census['income_bracket'].apply(lambda label: int(label==' <=50K'))

### Perform a Train Test Split on the Data

In [10]:
from sklearn.model_selection import train_test_split

In [15]:
x_data = data.drop('income_bracket',axis=1)
y_label = data['income_bracket']
X_train, X_test, y_train, y_test = train_test_split(x_data,y_label,test_size=0.3, random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [16]:
data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [17]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [18]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [19]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [20]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [21]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [22]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp693cgr10
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp693cgr10', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f2ac805d6d8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [23]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmp693cgr10/model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 0
INFO:tensorflow:global_step/sec: 69.5008
INFO:tensorflow:loss = 91.73177, step = 100 (1.432 sec)
INFO:tensorflow:global_step/sec: 94.384
INFO:tensorflow:loss = 261.85666, step = 200 (1.058 sec)
INFO:tensorflow:global_step/sec: 93.9766
INFO:tensorflow:loss = 291.93628, step = 300 (1.064 sec)
INFO:tensorflow:global_step/sec: 93.378
INFO:tensorflow:loss = 129.34471, step = 400 (1.071 sec)
INFO:tensorflow:global_step/sec: 95.2099
INFO:tensorflow:loss = 135.95232, step = 500 (1.053 sec)
INFO:tensorflow:global_step/sec: 94.5146
INFO:tensorflow:loss = 128.6306, step = 600 (1.058 sec)
INFO:tensorflow:global_step/sec: 95.0927
INFO:tensorflow:loss = 60.88743, step = 700 (1.051 sec)
INFO:tensorflow:global_step/sec: 84.0045
INFO:tensorflow:loss = 43.37515, step = 800 (1.191 sec)
INFO:tensorflow:global_step/sec: 93.6736
INFO:tensorflow:loss = 433.05856, step = 900 (1.067 sec)
INFO:tensorflow:global_step/sec: 88.0865
INFO:tensorflow:loss = 76.982506, step = 1000 (1.135 sec)
INFO:tensorflow:global_step/sec: 92.9916
INFO:tensorflow:loss = 198.82143, step = 1100 (1.075 sec)
INFO:tensorflow:global_step/sec: 95.3281
INFO:tensorflow:loss = 85.89821, step = 1200 (1.050 sec)
INFO:tensorflow:global_step/sec: 95.0792
INFO:tensorflow:loss = 58.426834, step = 1300 (1.050 sec)
INFO:tensorflow:global_step/sec: 94.0051
INFO:tensorflow:loss = 30.031345, step = 1400 (1.064 sec)
INFO:tensorflow:global_step/sec: 94.6045
INFO:tensorflow:loss = 141.61221, step = 1500 (1.057 sec)
INFO:tensorflow:global_step/sec: 94.0667
INFO:tensorflow:loss = 40.52971, step = 1600 (1.061 sec)
INFO:tensorflow:global_step/sec: 96.4068
INFO:tensorflow:loss = 65.99045, step = 1700 (1.039 sec)
INFO:tensorflow:global_step/sec: 94.2548
INFO:tensorflow:loss = 127.86333, step = 1800 (1.060 sec)
INFO:tensorflow:global_step/sec: 94.478
INFO:tensorflow:loss = 18.601095, step = 1900 (1.060 sec)
INFO:tensorflow:global_step/sec: 89.7126
INFO:tensorflow:loss = 91.179085, step = 2000 (1.114 sec)
INFO:tensorflow:global_step/sec: 94.9664
INFO:tensorflow:loss = 36.424862, step = 2100 (1.053 sec)
INFO:tensorflow:global_step/sec: 93.9543
INFO:tensorflow:loss = 35.62059, step = 2200 (1.064 sec)
INFO:tensorflow:global_step/sec: 93.3883
INFO:tensorflow:loss = 181.56555, step = 2300 (1.072 sec)
INFO:tensorflow:global_step/sec: 94.9925
INFO:tensorflow:loss = 65.46814, step = 2400 (1.051 sec)
INFO:tensorflow:global_step/sec: 95.2025
INFO:tensorflow:loss = 308.8396, step = 2500 (1.050 sec)
INFO:tensorflow:global_step/sec: 95.3853
INFO:tensorflow:loss = 136.07703, step = 2600 (1.050 sec)
INFO:tensorflow:global_step/sec: 93.6911
INFO:tensorflow:loss = 34.252037, step = 2700 (1.066 sec)
INFO:tensorflow:global_step/sec: 95.0589
INFO:tensorflow:loss = 136.11836, step = 2800 (1.051 sec)
INFO:tensorflow:global_step/sec: 95.6656
INFO:tensorflow:loss = 57.67845, step = 2900 (1.045 sec)
INFO:tensorflow:global_step/sec: 92.589
INFO:tensorflow:loss = 133.78645, step = 3000 (1.081 sec)
INFO:tensorflow:global_step/sec: 92.6314
INFO:tensorflow:loss = 119.93801, step = 3100 (1.079 sec)
INFO:tensorflow:global_step/sec: 94.249
INFO:tensorflow:loss = 64.60247, step = 3200 (1.061 sec)
INFO:tensorflow:global_step/sec: 97.1026
INFO:tensorflow:loss = 61.57337, step = 3300 (1.030 sec)
INFO:tensorflow:global_step/sec: 93.9431
INFO:tensorflow:loss = 78.67439, step = 3400 (1.067 sec)
INFO:tensorflow:global_step/sec: 93.8722
INFO:tensorflow:loss = 38.615837, step = 3500 (1.063 sec)
INFO:tensorflow:global_step/sec: 86.4271
INFO:tensorflow:loss = 53.0694, step = 3600 (1.159 sec)
INFO:tensorflow:global_step/sec: 89.9343
INFO:tensorflow:loss = 37.65896, step = 3700 (1.112 sec)
INFO:tensorflow:global_step/sec: 92.7356
INFO:tensorflow:loss = 28.268112, step = 3800 (1.078 sec)
INFO:tensorflow:global_step/sec: 92.2081
INFO:tensorflow:loss = 93.17918, step = 3900 (1.084 sec)
INFO:tensorflow:global_step/sec: 93.8781
INFO:tensorflow:loss = 52.910706, step = 4000 (1.065 sec)
INFO:tensorflow:global_step/sec: 93.7974
INFO:tensorflow:loss = 38.032017, step = 4100 (1.066 sec)
INFO:tensorflow:global_step/sec: 91.8395
INFO:tensorflow:loss = 109.38955, step = 4200 (1.089 sec)
INFO:tensorflow:global_step/sec: 92.4298
INFO:tensorflow:loss = 71.36624, step = 4300 (1.080 sec)
INFO:tensorflow:global_step/sec: 94.5893
INFO:tensorflow:loss = 83.26687, step = 4400 (1.058 sec)
INFO:tensorflow:global_step/sec: 88.0897
INFO:tensorflow:loss = 50.28465, step = 4500 (1.136 sec)
INFO:tensorflow:global_step/sec: 93.8842
INFO:tensorflow:loss = 51.924637, step = 4600 (1.065 sec)
INFO:tensorflow:global_step/sec: 93.6786
INFO:tensorflow:loss = 50.15798, step = 4700 (1.066 sec)
INFO:tensorflow:global_step/sec: 92.7725
INFO:tensorflow:loss = 141.11198, step = 4800 (1.080 sec)
INFO:tensorflow:global_step/sec: 94.1719
INFO:tensorflow:loss = 275.52087, step = 4900 (1.061 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /tmp/tmp693cgr10/model.ckpt.
INFO:tensorflow:Loss for final step: 91.551956.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [24]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [25]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp693cgr10/model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

In [26]:
predictions[0]

{'logits': array([-0.7268994], dtype=float32),
 'logistic': array([0.32587552], dtype=float32),
 'probabilities': array([0.67412454, 0.3258755 ], dtype=float32),
 'class_ids': array([0]),
 'classes': array([b'0'], dtype=object)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [27]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [28]:
final_preds[:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [29]:
from sklearn.metrics import classification_report

In [30]:
print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.90      0.87      0.88      7436
          1       0.62      0.70      0.66      2333

avg / total       0.84      0.83      0.83      9769

# Great Job!