In [1]:
import numpy as np

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
data = np.random.randint(0,100,(10,2))

In [6]:
data

array([[67, 88],
       [63, 21],
       [98, 41],
       [29, 30],
       [11, 63],
       [77, 89],
       [88, 94],
       [81, 57],
       [34, 44],
       [13,  2]])

In [7]:
scaler_model = MinMaxScaler()

In [8]:
#Compute the minimum and maximum to be used for later scaling
scaler_model.fit(data)

c:\users\devan\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
#highest number be 1 and lower number be 0
scaler_model.transform(data)

array([[0.64367816, 0.93478261],
       [0.59770115, 0.20652174],
       [1.        , 0.42391304],
       [0.20689655, 0.30434783],
       [0.        , 0.66304348],
       [0.75862069, 0.94565217],
       [0.88505747, 1.        ],
       [0.8045977 , 0.59782609],
       [0.26436782, 0.45652174],
       [0.02298851, 0.        ]])

In [12]:
#do the both above
scaler_model.fit_transform(data)

c:\users\devan\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.64367816, 0.93478261],
       [0.59770115, 0.20652174],
       [1.        , 0.42391304],
       [0.20689655, 0.30434783],
       [0.        , 0.66304348],
       [0.75862069, 0.94565217],
       [0.88505747, 1.        ],
       [0.8045977 , 0.59782609],
       [0.26436782, 0.45652174],
       [0.02298851, 0.        ]])

In [14]:
import pandas as pd

In [17]:
mydata = np.random.randint(0,101,(50,4))

In [18]:
mydata

array([[ 45,  54,  21,  67],
       [ 33,  24,  68,  94],
       [ 65,  18,  25,  60],
       [ 40,  74,  71,  64],
       [ 45,  84,  80,  87],
       [ 50,  69,  37,  74],
       [ 13,  16,  74,   3],
       [ 33,  84,   4,  19],
       [ 94,  54,  27,   9],
       [ 51,  64,  46,  37],
       [ 31,  29,  11,  70],
       [  4,  97,  64,  93],
       [ 31,  64,  36,  58],
       [ 73,  93,  45,  45],
       [  0,  47,  15,  58],
       [ 93,  67,  48,  69],
       [ 41,   8,  97,  99],
       [ 70,  50,  85,  95],
       [ 56,  88,   1,  10],
       [ 65,  26,  69,   5],
       [ 40,  20,  68,   0],
       [  2,  24,  67,  51],
       [ 77,  74,  18,  54],
       [ 63,  48, 100,   5],
       [ 78,   1, 100,  20],
       [ 85,   2,   1,  77],
       [ 58,  71,   5,  59],
       [ 77,   5,  74,  27],
       [ 30,  33,  24,   0],
       [ 58,  41,  71,  37],
       [ 43,   6,  87,   5],
       [ 17,  44,  50,  48],
       [ 34,  86,  69,  37],
       [ 50,  33,  15,  64],
       [ 67,  94,  53,  44],
       [ 84,   2,  66,  98],
       [ 83,  28,  10,   1],
       [ 87, 100,  54,   3],
       [ 46,   8,  66,  53],
       [ 84,  13, 100,  85],
       [ 90,  31,  92,  88],
       [ 97,  65,  83,  37],
       [ 84,  12,  35,  70],
       [ 65,  86,  49,  89],
       [ 59,  67,   5,   7],
       [ 51,  20,   6,  41],
       [ 74,  45,  10,  31],
       [ 49,  94,  61,  91],
       [ 80,  50,  26,  14],
       [  9,  90,  68,  92]])

In [26]:
df = pd.DataFrame(data=mydata, columns = ['f1','f2','f3','label'])

In [27]:
df

    f1   f2   f3  label
0   45   54   21     67
1   33   24   68     94
2   65   18   25     60
3   40   74   71     64
4   45   84   80     87
5   50   69   37     74
6   13   16   74      3
7   33   84    4     19
8   94   54   27      9
9   51   64   46     37
10  31   29   11     70
11   4   97   64     93
12  31   64   36     58
13  73   93   45     45
14   0   47   15     58
15  93   67   48     69
16  41    8   97     99
17  70   50   85     95
18  56   88    1     10
19  65   26   69      5
20  40   20   68      0
21   2   24   67     51
22  77   74   18     54
23  63   48  100      5
24  78    1  100     20
25  85    2    1     77
26  58   71    5     59
27  77    5   74     27
28  30   33   24      0
29  58   41   71     37
30  43    6   87      5
31  17   44   50     48
32  34   86   69     37
33  50   33   15     64
34  67   94   53     44
35  84    2   66     98
36  83   28   10      1
37  87  100   54      3
38  46    8   66     53
39  84   13  100     85
40  90   31   92     88
41  97   65   83     37
42  84   12   35     70
43  65   86   49     89
44  59   67    5      7
45  51   20    6     41
46  74   45   10     31
47  49   94   61     91
48  80   50   26     14
49   9   90   68     92

In [28]:
X = df[['f1','f2','f3']]

In [29]:
X

    f1   f2   f3
0   45   54   21
1   33   24   68
2   65   18   25
3   40   74   71
4   45   84   80
5   50   69   37
6   13   16   74
7   33   84    4
8   94   54   27
9   51   64   46
10  31   29   11
11   4   97   64
12  31   64   36
13  73   93   45
14   0   47   15
15  93   67   48
16  41    8   97
17  70   50   85
18  56   88    1
19  65   26   69
20  40   20   68
21   2   24   67
22  77   74   18
23  63   48  100
24  78    1  100
25  85    2    1
26  58   71    5
27  77    5   74
28  30   33   24
29  58   41   71
30  43    6   87
31  17   44   50
32  34   86   69
33  50   33   15
34  67   94   53
35  84    2   66
36  83   28   10
37  87  100   54
38  46    8   66
39  84   13  100
40  90   31   92
41  97   65   83
42  84   12   35
43  65   86   49
44  59   67    5
45  51   20    6
46  74   45   10
47  49   94   61
48  80   50   26
49   9   90   68

In [30]:
y = df['label']

In [31]:
y

0     67
1     94
2     60
3     64
4     87
5     74
6      3
7     19
8      9
9     37
10    70
11    93
12    58
13    45
14    58
15    69
16    99
17    95
18    10
19     5
20     0
21    51
22    54
23     5
24    20
25    77
26    59
27    27
28     0
29    37
30     5
31    48
32    37
33    64
34    44
35    98
36     1
37     3
38    53
39    85
40    88
41    37
42    70
43    89
44     7
45    41
46    31
47    91
48    14
49    92
Name: label, dtype: int32

In [32]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [53]:
X_train.shape

(35, 3)

In [54]:
X_test.shape

(15, 3)

In [55]:
X.shape

(50, 3)